#【编辑器相关】
#idea
.idea
.idea/
*.iml

#vscode
.vscode
.vscode/

#【系统相关】
#macos
.DS_Store
**/.DS_Store

#【项目相关】
tmp/*
!tmp/.gitkeep
data/*
!data/.gitkeep
var/tmp/*
!var/tmp/.gitkeep
var/data/*
!var/data/.gitkeep

#【部署相关】
#gitlab ci
.cache
